* {
  box-sizing: border-box;
}

:root {
  --main-bg: #efefef;
  --btn-color: #143c3c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "PublicSans", sans-serif;
}

/* Common */

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: calc(100% - 48px);
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  position: relative;
  display: inline-block;
  --height: 57px;
  min-width: 173px;
  background: var(--btn-color);
  border: 1.5px solid #143c3c;
  border-radius: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: var(--height);
  text-align: center;
  color: #ffffff;
  transition: 0.25s;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Header ========== */
.header {
  position: relative;
  min-height: calc(100vh + 24px);
  background: var(--main-bg);
}

.header .container {
}

.header__nav {
  padding: 28px 0 13px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dddcdc 51.09%,
    rgba(213, 213, 213, 0) 99.68%
  );
}

.header__nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 2px;
  background: #143c3c;
}

.header__nav .logo a {
  display: flex;
  align-items: center;
}

.header__nav .logo-brand {
  margin-left: 9px;
  color: #000;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 38px;
}

.nav-link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    #56a0d9,
    #60a2dc,
    #69a3df,
    #72a5e2,
    #7ba6e4,
    #75aeeb,
    #6fb7f2,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  transition: all 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #000;
}

.nav-link__active {
  color: #152427;
}

/* Hero */
.hero {
  position: absolute;
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 76px;
}

/* Hero content */

.hero__content {
}

.hero__heading {
  width: 430px;
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.2;
  color: #152427;
}

.hero__desc {
  width: 341px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.hero-row {
  margin-top: 42px;
  display: flex;
  align-items: center;
}

/* Video */
.hero .video {
  margin-left: 36px;
  display: flex;
  align-items: center;
}

.hero .video .ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 4px solid var(--btn-color);
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
  transition: 0.25s;
}

.hero .video .play-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #83a17d;
  line-height: 45px;
  text-align: center;
}

.hero .video .play-icon {
  transform: rotate(-45deg);
  color: #fff;
}

.hero .video .ellipse:hover {
  transform: rotate(225deg);
}

.hero .video .ellipse:hover .play-icon {
  transform: rotate(135deg);
}

.hero .video .text {
  margin-left: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #152427;
}

/* Hero images */
.hero-images {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 77px;
  z-index: 1;
}

.hero-img {
  width: 202px;
  height: 466px;
  border-radius: 110px;
}

.hero-img img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 110px;
}

.hero-img:nth-child(2) img {
  margin-top: 77px;
}

.hero-images::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 340px;
  height: 340px;
  background: #4dbb9a;
  filter: blur(137px);
  z-index: -1;
}

.hero-avstract-one {
  position: absolute;
  top: -24%;
  left: 50%;
  transform: translate(-50%, 25%);
  z-index: 1;
}

.hero-avstract-one .union {
  position: absolute;
  top: 3%;
  left: -7%;
}

.hero-avstract-two {
  position: absolute;
  bottom: 4%;
  left: 48%;
  transform: translate(0, 25%);
  z-index: 1;
}

.hero-avstract-two .union {
  position: absolute;
  bottom: 10%;
  right: -6.5%;
}

/* Donors ========== */
.donors {
  margin-top: 43px;
}

.donors__container {
  padding: 78px 121px;
  border-radius: 100px;
  background: #e2eddf;
}

.donors-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.donor-item {
  display: flex;
  align-items: center;
  transition: 0.25s;
}

.donor-item:hover {
  cursor: default;
  transform: scale(1.5);
  padding: 2px;
  box-shadow: 2px 2px 2px #b9cdb4;
}

.donor-name {
  font-weight: 500;
  font-size: 3.1rem;
  color: #143c3c;
}

.slack .donor-name {
  font-weight: 600;
  font-size: 3.2rem;
}

.agworld .donor-name {
  margin-left: 11px;
  font-weight: 400;
  font-size: 2.6rem;
}

.riotinto .donor-name {
  font-family: "Sonsie One", sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
}

.heroku .donor-name {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.9rem;
  letter-spacing: 0.105em;
}

/* Services ==========*/
.services {
  margin-top: 53px;
}

.services .container {
  padding: 53px 0 79px;
}

.services-text {
  position: relative;
  font-family: "Poppins";
  padding-left: 46px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #152427;
}

.services-text::before {
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateY(30%);
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background: #152427;
}

.services-row {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-heading {
  position: relative;
  max-width: 535px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: #152427;
}

.service-heading::after {
  position: absolute;
  top: 75%;
  right: 20%;
  transform: translateY(75%);
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background: #152427;
}

.services-act {
  display: flex;
  align-items: center;
}

.service-act {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #e2eddf;
  border-radius: 50%;
  transition: 0.25s;
}

.service-act .arrow {
}

.service-act.arrow-right {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-left: 17px;
}

.service-act:hover {
  background: #143c3c;
  color: #fff;
  cursor: pointer;
}

.services-list {
  margin-top: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-item {
  width: 370px;
}

.service-item__img {
  display: block;
  width: 100%;
  height: 318px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.service-item__body {
  padding-top: 24px;
  width: 370px;
  transition: 0.25s;
}

.service-item:hover .service-item__body {
  padding: 24px 18px;
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
  border-radius: 0 0 20px 20px;
}

.service-item__name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #152427;
}

.service-item__desc {
  display: inline-block;
  max-width: 268px;
  margin-top: 18px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #7d8188;
}

/* About us ========== */

.about_us {
  margin-top: 79px;
}

.about_us .container {
  padding-top: 79px;
  display: flex;
  align-items: flex-start;
  gap: 64px;
}

/* About us images */

.about_us .images_list {
  position: relative;
  display: flex;
  gap: 21px;
}

.about_us .image {
  width: 286px;
}

.about_us .image:first-child {
  margin-top: 77px;
}

.about_us .image .img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
  border-radius: 210px;
}

/* About us box */

.image-box {
  position: relative;
}

.image-box .box {
  position: absolute;
  bottom: 0;
  left: 152px;
  display: inline-block;
  padding: 19px 17px 11px;
  width: 143px;
  height: 144px;
  background: #ffffff;
  box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
  border-radius: 8px;
  transition: 0.5s;
}

.image-box .box:hover {
  transform: scale(1.5);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: default;
}

.image-box .box-heading {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
  color: #152427;
}

.image-box .box-total {
  display: block;
  margin-top: 6px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  color: #575d5e;
  opacity: 0.4;
}

.image-box .box-total__number {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: #152427;
}

.image-box .box-total__number div {
  position: relative;
  margin-top: 3px;
  width: 100%;
  height: 2px;
  background: #eaeaea;
  border-radius: 10px;
}

.image-box .box-total__number div::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 2px;
  background: #83a17d;
  border-radius: 10px;
}

.image-box .box-loading {
  display: block;
  margin-top: 3px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  text-align: right;
  color: #152427;
}

.image-box .circle {
  margin-top: 6px;
  width: 5px;
  height: 5px;
  background: #143c3c;
  border-radius: 50%;
}

.image-box .teams {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-box .teams span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: #152427;
}

.image-box .avatarts {
  display: flex;
  align-items: center;
}

.image-box .box-avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -6px;
}

/* About us content */

.about_us-text {
  position: relative;
  padding-left: 21px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.12;
  color: #152427;
}

.about_us-text::before {
  position: absolute;
  top: 50%;
  left: -21px;
  transform: translateY(-50%);
  content: "";
  width: 25px;
  height: 1px;
  background: #152427;
}

.about_us-body {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.about_us-body .slogan {
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: #152427;
}

.about_us-body .desc {
  margin-top: 11px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #7d8188;
}

.about_us-body .item {
  position: relative;
  margin-top: 36px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_us-body .item + .item {
  margin-top: 38px;
}

.about_us-body .item .number {
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: #152427;
}

.about_us-body .item .instruct {
  margin-left: 25px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #7d8188;
}

.about_us-body .item::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  border: 1px solid #83a17d;
}

.about_us-avstract {
  position: absolute;
  left: 15%;
  z-index: 1;
}

.about_us-avstract .union {
  position: absolute;
  top: -9%;
  left: -8%;
}

/* Process ========== */
.process {
  margin-top: 79px;
}

.process .container {
  padding: 36px 28px;
}

.process-top {
  font-family: "Poppins", sans-serif;
}

.process-text {
  position: relative;
  padding-left: 42px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.12;
  color: #152427;
}

.process-text::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  width: 25px;
  height: 1px;
  background: #152427;
}

.process-heading {
  position: relative;
  max-width: 478px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: #152427;
}

.process-heading::after {
  position: absolute;
  top: 75%;
  right: -2%;
  transform: translateY(75%);
  content: "";
  width: 66px;
  height: 2px;
  background: #152427;
}

.process-list {
  margin-top: 81px;
}

.process-project {
  padding: 57px 30px 50px;
  position: relative;
  background: #e2eddf;
  border-radius: 33px;
}

.process-number {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 72%;
  color: #143c3c;
}

.process-step {
  display: flex;
  align-items: center;
}

.process-step__name {
  margin-left: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #152427;
}

.process-img {
  margin-left: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.process-img img {
  width: 450px;
  height: 444px;
  object-fit: cover;
}

.process-step__more {
  margin-top: 7px;
  margin-left: 160px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  color: #575d5e;
  text-decoration: underline;
}

.process-step__more:hover {
  cursor: pointer;
  color: #000;
}

.process-item {
  position: relative;
  padding: 0 0 21px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.process-item::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
}

.process-item:nth-child(2) {
  margin-top: 46px;
}

.process-desc {
  max-width: 574px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #7d8188;
}

.process-item + .process-item {
  margin-top: 54px;
}
